Repository instill-ai/deprecated-core, pull requests merged in 2023-09, with the labels that each got.

#35 chore(docker-compose,env): upgrade golang and KrakenD version for api-gateway
  .env
  docker-compose.build.yml
Labels: 🗿 instill-base

#36 ci(Makefile): optimise spin-up/tear-down flow
  .env
  .github/workflows/make-all.yml
  .github/workflows/make-latest.yml
  Dockerfile
  Makefile
  docker-compose.yml
Labels: 🗿 instill-base

#37 chore(helm): update mgmt db version
  charts/base/values.yaml
Labels: 🗿 instill-base

#38 fix(makefile): fix makefile doesn't get correct DEFAULT_USER_UID
  Makefile
Labels: 🗿 instill-base

#40 docs(readme): update readme and contributing guidelines
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/SECURITY.md
  README.md
Labels: 🗿 instill-base

#41 chore(helm): create horizontal pod autoscaling
  charts/base/templates/api-gateway/hpa.yml
  charts/base/templates/console/hpa.yml
  charts/base/templates/mgmt-backend/hpa.yml
  charts/base/values.yaml
Labels: 🗿 instill-base

#42 ci(workflow): increase `minikube` memory
  .github/workflows/helm-integration-test-backend.yml
Labels: 🗿 instill-base

#43 ci(labler): update Github labeler
  .github/labeler.yml
  README.md
Labels: 🗿 instill-base

#22 ci(workflow): add integration-test-latest|release workflow for mac
  .github/workflows/helm-integration-test-backend.yml
  .github/workflows/helm-integration-test-console.yml
  .github/workflows/helm-integration-test-latest.yml
  .github/workflows/helm-integration-test-release.yml
  .github/workflows/integration-test-backend.yml
  .github/workflows/integration-test-console.yml
Labels: Stale, 🗿 instill-base, instill base

#45 ci(Makefile): fix make stop and start
  Makefile
Labels: instill base

#46 ci(makefile): add `EDITION` and `DEFAULT_USER_UID` to docker compose commands
  Makefile
Labels: instill base

#49 ci(release-please): update version in README automatically
  .github/workflows/releases.yml
  README.md
Labels: instill base

#52 ci(Makefile): tinker uuidgen and shell cmd
  Makefile
Labels: instill base

#53 ci(Makefile): remove redundant shell commands
  Makefile
Labels: instill base
